PractTest/.vs/
PractTest/PractTest.API/bin/
PractTest/PractTest.API/obj/
PractTest/PractTest.Application/bin/
PractTest/PractTest.Application/obj/
PractTest/PractTest.Domain/bin/
PractTest/PractTest.Domain/obj/
PractTest/PractTest.Infrastructure/bin/
PractTest/PractTest.Infrastructure/obj/
